<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>Puls2014</title>
		
	</head>
	<body>
		<header class="Header">
			<figure class="Header-logoContainer">
				<img class="Header-logo" src="../static/images/logo.png"/>
			</figure>
			<h1 class="Header-title">Titulo pag Web</h1>
			<figure class="Header-avatarContainer">
				<img class="Header-avatar" src="../static/images/avatar.png"/>
			</figure>
			<nav class="MainMenu">
				<ul class="MainMenu-list">
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#">
							Python
						</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#">
							HTML5
						</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#">
							JavaScript
						</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#">
							CSS3
						</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#">
							Django
						</a>
					</li>
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#">
							Publicar
						</a>
					</li>
				</ul>
			</nav>	
		</header>
		<section class="Contenido">
			<article class="Contenido-item">
				<figure class="Contenido-imageContainer">
					<img class="Contenido-image" src="../static/images/imagen.jpg"/>
				</figure>
				<h2 class="Contenido-title">
					<a href="#">
						Titulo Articulo
					</a>	
				</h2>
				<p class="Contenido-autor">
					por 
					<a class="Contenido-autorLink" href="#">
						Autor
					</a>
				</p>
				<div class="Contenido-acciones">
					<a class="Contenido-categoria" href="#">
						Boton Categoria
					</a>
					<p class="Contenido-fecha">
						Hace 
						<strong>
							5
						</strong>
						 minutos
					</p>					
					<a class="Contenido-comentarios" href="#">
						Numero comentarios
					</a>					
					<a class="Contenido-star" href="#">
						estrella
					</a>
				</div>
				<p class="Contenido-votacion">
					<a class="Contenido-up" href="#">
						Up
					</a>
					Numero
					<a class="Contenido-down" href="#">
						Down
					</a>
				</p>
			</article>
		</section>
		<footer class="Footer">
			<p class="Footer-Power">
				<strong>
					Powered By Mi
				</strong>
			</p>
			<p class="Footer-Copy">
				mejorando.la 2014
			</p>
		</footer>	 
	</body>
</html>