<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>Puls2014</title>
		
	</head>
	<body>
		<header>
			<figure>
				<img src="../static/images/logo.png"/>
			</figure>
			<h1>Titulo pag Web</h1>
			<figure>
				<img src="../static/images/avatar.png"/>
			</figure>
			<nav>
				<ul>
					<li>
						<a href="#">
							Python
						</a>
					</li>
					<li>
						<a href="#">
							HTML5
						</a>
					</li>
					<li>
						<a href="#">
							JavaScript
						</a>
					</li>
					<li>
						<a href="#">
							CSS3
						</a>
					</li>
					<li>
						<a href="#">
							Django
						</a>
					</li>
					<li>
						<a href="#">
							Publicar
						</a>
					</li>
				</ul>
			</nav>	
		</header>
		<section>
			<article>
				<figure>
					<img src="../static/images/imagen.jpg"/>
				</figure>
				<h2>
					<a href="#">
						Titulo Articulo
					</a>	
				</h2>
				<p>
					por 
					<a href="#">
						Autor
					</a>
				</p>
				<div>
					<a href="#">
						Boton Categoria
					</a>
					<p>
						Hace 
						<strong>
							5
						</strong>
						 minutos
					</p>					
					<a href="#">
						Numero comentarios
					</a>					
					<a href="#">
						estrella
					</a>
				</div>
				<p>
					<a href="#">
						Up
					</a>
					Numero
					<a href="#">
						Down
					</a>
				</p>
			</article>
		</section>
		<footer>
			<p>
				<strong>
					Powered By Mi
				</strong>
			</p>
			<p>mejorando.la 2014</p>
		</footer>	 
	</body>
</html>